.detail-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  box-sizing: border-box;
  padding: 10px 15px;

  &.one-col {
    padding: 10px 50px;

    & > div > div:nth-of-type(1) {
      width: 28%;
    }
  }

  & > div {
    box-sizing: border-box;
    display: flex;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    font-size: .875rem;
    font-weight: 400;
    font-family: "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;
    color: #333;

    & > div {
      height: 100%;
    }

    & > div:nth-of-type(1) {
      width: 35%;
    }

    & > div:nth-of-type(2) {
      flex: 1;
      display: flex;

      & div.img-box {
        max-width: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .img {
          width: 100px;
          height: 100px;
          padding: 3px;
          box-sizing: border-box;
          border: 1px solid #ccc;
          border-radius: 3px;
        }

        p {
          word-break: break-word;
          text-align: center;
        }
      }
    }
  }

  &.one-col > div {
    flex-basis: 100%;
  }

  &.two-col > div {
    flex-basis: 50%;
  }
}
