$navColor:#4B505D;
$themeColor: #3DAB53;
#contentPanel{
  width: 100%;
  height: 100%;
  font-family: "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;

  .header-panel{
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $navColor;

    .main-panel{
      width: 98%;
      height: 100%;
      display: flex;
      align-items: center;
      position: relative;

      .logo-panel{
        width: 140px;

        img{
          width: 100%;
        }
      }

      .contracted-state-panel{
        width: 27px;
        height: 27px;
        margin-left: 20px;
        font-size: 27px;
        color: #fff;
        cursor: pointer;
        display: flex;
        align-items: center;
      }

      .headPortrait-panel{
        height: 100%;
        position: absolute;
        right: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 10px;
        cursor: pointer;
        user-select: none;
        transition: background-color .2s;

        &:hover {
          background-color: rgba(255, 255, 255, .1);
        }

        .img-panel{
          width: 28px;
          height: 28px;
          border-radius: 50%;
          overflow: hidden;

          .el-avatar {
            width: 100%;
            height: 100%;

            img{
              width: 100%;
              height: 100%;
            }
          }
        }

        .greetings-panel{
          height: 27px;
          display: flex;
          align-items: center;
          margin-left: 10px;

          p{
            color: #fff;
            font-size: 14px;
            display: inline-block;
          }

          i {
            color: #fff;
            font-size: 12px;
            margin-left: 5px;
          }
        }

        .func-menu {
          position: absolute;
          min-width: 130px;
          right: 0;
          top: 67px;
          border: 1px solid #e3e3e3;
          background-color: #fff;
          font-size: 14px;
          z-index: 9999;
          border-radius: 4px;
          overflow: hidden;

          i {
            color: #000;
            margin-right: 5px;
            width: 15px;
          }

          dd {
            padding: 8px 10px;
            cursor: pointer;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            transition: background-color .2s;

            &:hover {
              background-color: #f1f1f1;
            }

            &:last-of-type {
              border-top: 1px solid #eee;
            }
          }
        }
      }
    }
  }

  .content-panel{
    width: 100%;
    height: calc(100% - 65px);
    display: flex;
    justify-content: center;

    .main-panel{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      position: relative;

      .el-menu-vertical:not(.el-menu--collapse) {
        width: 200px;
        min-height: 400px;
      }

      .side-panel{
        height: 100%;

        .row-panel{
          width: 100%;
          height: 45px;
          display: flex;
          justify-content: center;
        }

        ul {
          height: 100%;
        }
      }

      .main-content{
        flex: 1;
        height: 100%;
        box-sizing: border-box;
        overflow-y: auto;
      }
    }
  }
}

/* transition */
.func-menu-enter-active, .func-menu-leave-active {
  transition: .2s;
}
.func-menu-enter, .func-menu-leave-to {
  opacity: 0;
  transform: translateY(-5px);
}
