$navColor:#4B505D;
$themeColor: #3DAB53;
#contentPanel{
  width: 100%;
  height: 100%;

  .header-panel{
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $navColor;

    .main-panel{
      width: 98%;
      height: 100%;
      display: flex;
      align-items: center;
      position: relative;

      .logo-panel{
        width: 110px;
        height: 27px;

        img{
          width: 100%;
          height: 100%;
        }
      }

      .greetings-panel{
        width: 240px;
        height: 27px;
        display: flex;
        align-items: center;
        margin-left: 20px;

        p{
          color: #fff;
          font-size: 14px;
        }
      }

      .headPortrait-panel{
        width: 60px;
        height: 28px;
        position: absolute;
        right: 0;
        display: flex;
        justify-content: flex-end;

        .img-panel{
          width: 28px;
          height: 100%;
          border-radius: 50%;
          overflow: hidden;

          img{
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .content-panel{
    width: 100%;
    height: calc(100% - 70px);
    margin-top: 5px;
    display: flex;
    justify-content: center;

    .main-panel{
      width: 98%;
      height: 100%;
      display: flex;
      align-items: center;
      position: relative;

      .side-panel{
        width: 10%;
        min-width: 188px;
        height: 100%;
        display: flex;

        .menu-panel{
          width: 60px;
          height: 100%;

          .row-panel{
            width: 100%;
            height: 45px;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 24px;
            cursor: pointer;
            margin-bottom: 30px;
            color: #303133;
            outline: none;

            &:hover{
              color: $themeColor;
            }

            p{
              font-size: 12px;
            }
          }

          .active{
            color: $themeColor;
          }
        }

        .more-panel{
          width: 144px;
          height: 100%;

          .row-panel{
            width: 100%;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: solid 1px rgba(153, 150, 114, 0.56);
            cursor: pointer;
            font-size: 14px;

            &:hover{
              color: $themeColor;
            }
          }

          .active{
            color: $themeColor;
          }
        }
      }

      .main-content{
        width: 90%;
        height: 100%;
        margin-left: 10px;
      }
    }
  }
}