.order-detail {
  width: 100%;
  overflow: hidden;
}

.order-detail-tab {
  width: 100%;
  height: calc(100% - 52px);
  overflow-y: auto;

  .el-form-item {
    display: block;
    margin: 0 0 8px;
  }
}
