.sys-user-edit {
  padding: 20px 0 0 !important;
  box-sizing: border-box;
  overflow-y: auto;

  .upload-avatar {
    display: flex;
    align-items: center;
  }

  .avatar-box {
    width: 40px;
    height: 40px;
    display: inline-block;
  }
  .avatar {
    border: 1px solid #ddd;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .showAvatar {
    cursor: pointer;
  }

  .upload {
    display: none;
  }

  .btn-group {
    text-align: right;
    position: fixed;
    bottom: 0;
    padding: 15px 0;
    background-color: #fff;
    width: 100%;
    left: 0;
  }
}
