.table-panel {
  width: 100%;
  padding: 18px 23px;
  box-sizing: border-box;
  background-color: #fff;

  .search-bar {
    width: 100%;
    margin-bottom: 10px;

    span {
      font-size: 14px;
      font-weight: bold;
      margin-right: 10px;
    }

    & > div {
      margin-right: 10px;
    }

    .el-input {
      width: 230px;
    }
  }
  .page {
    float: right;
    margin-top: 10px;
  }
}
