/*
elementUI 主题配置文件
*/
$--color-primary: #409EFF;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

/*弹层主体内容宽度*/
$layer-main-width: 90%;

@import "~element-ui/packages/theme-chalk/src/index";

.vl-notify-mask {
  background: black !important;
}

.vl-notify.vl-notify-alert h2.vl-notice-title .icon-remove{
  font-size: 20px !important;
}
.vl-notify.vl-notify-alert h2.vl-notice-title .lv-title {
  font-size: 18px;
  font-weight: 600;
  color: #555;
}

.vl-notify.vl-notify-iframe .vl-notify-content {
  height: 100% !important;
}

// 弹层公用样式
#layerContent{
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;

  /*内容区域*/
  .content-panel{
    width: 100%;
    height: calc(100% - 52px);
    overflow: auto;
    margin-bottom: 5px;

    .main-content{
      width: $layer-main-width;
      height: 100%;
      margin: 0 auto;
    }
  }

  /*按钮区域*/
  .btn-panel{
    width: 100%;
    height: 32px;
    position: fixed;
    left: 0;
    bottom: 20px;

    .main-content{
      width: $layer-main-width;
      height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: flex-end;
    }
  }
}

// 数据表格公用样式
.table-panel{
  width: 100%;
  height: 100%;
  padding: 18px 23px;
  box-sizing: border-box;

  .search-bar {
    width: 100%;
    margin-bottom: 10px;

    span {
      font-size: 14px;
      font-weight: bold;
    }

    & > div {
      margin-right: 10px;
    }

    .el-input {
      width: 230px;
    }
  }
  .page {
    float: right;
    margin: 10px auto;
  }
}

// 详情页面公用样式
.detail-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  box-sizing: border-box;
  padding: 10px 15px;

  &.one-col {
    padding: 10px 50px;

    & > div > div:nth-of-type(1) {
      width: 28%;
    }
  }

  & > div {
    box-sizing: border-box;
    display: flex;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    font-size: .875rem;
    font-weight: 400;
    font-family: "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;
    color: #333;

    & > div {
      height: 100%;
    }

    & > div:nth-of-type(1) {
      width: 130px;
    }

    & > div:nth-of-type(2) {
      flex: 1;
      display: flex;

      & div.img-box {
        max-width: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .img {
          width: 100px;
          height: 100px;
          padding: 3px;
          box-sizing: border-box;
          border: 1px solid #ccc;
          border-radius: 3px;
        }

        p {
          word-break: break-word;
          text-align: center;
        }
      }
    }
  }

  &.one-col > div {
    flex-basis: 100%;
  }

  &.two-col > div {
    flex-basis: 50%;
  }

  & > .fill {
    flex-basis: 100% !important;
  }
}
