/*
elementUI 主题配置文件
*/
$--color-primary: #409EFF;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

/*弹层主体内容宽度*/
$layer-main-width: 90%;

@import "~element-ui/packages/theme-chalk/src/index";

.vl-notify-mask {
  background: black !important;
}

.vl-notify.vl-notify-alert h2.vl-notice-title .icon-remove{
  font-size: 20px !important;
}
.vl-notify.vl-notify-alert h2.vl-notice-title .lv-title {
  font-size: 18px;
  font-weight: 600;
  color: #555;
}

.vl-notify.vl-notify-iframe .vl-notify-content {
  height: 100% !important;
}

// 弹层公用样式
#layerContent{
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;

  /*内容区域*/
  .content-panel{
    width: 100%;
    height: calc(100% - 52px);
    overflow: auto;
    margin-bottom: 5px;

    .main-content{
      width: $layer-main-width;
      height: 100%;
      margin: 0 auto;
    }
  }

  /*按钮区域*/
  .btn-panel{
    width: 100%;
    height: 37px;
    position: fixed;
    bottom: 20px;

    .main-content{
      width: $layer-main-width;
      height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: flex-end;
    }
  }
}

// 数据表格公用样式
.table-panel{
  width: 100%;
  height: 100%;
  padding: 15px 30px;
  box-sizing: border-box;

  .search-bar {
    width: 100%;
    margin-bottom: 10px;

    span {
      font-size: 14px;
      font-weight: bold;
      margin-right: 10px;
    }

    & > div {
      margin-right: 10px;
    }

    .el-input {
      width: 230px;
    }
  }
  .page {
    float: right;
    margin-top: 10px;
  }
}